<!DOCTYPE>
<html>
  <head>
    <link rel="stylesheet" href="styles.css">
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
  </head>
  <title>404 ERROR NO RESPONSE</title>
  <script src="script.js"></script>
  <h1 id="h1">Uh Oh! Internal Server Error. Contact Server Administrators. </h1>
  <div id=”rotator”><img class="alignnone" src="404.jpg" id="pic" onclick="redirectGit()"/></div>
  <body id="background404" align='center'>
    <input id="home" type="button" value="Home" onclick="redirecthome();">
  </body>
  <div>
    <p>
      If you have issues please click on the guy and make an ISSUE request on Github!
    </p>
  </div>
</html>
