<!DOCTYPE>
<html>
  <head>
    <link rel="stylesheet" href="styles.css">
  </head>
  <script src="script.js"></script>
  <script src="index.js"></script>
  <title>Website</title>
  <!--<header>Hello World</header>-->
  <div class="nav">
      <ul>
        <li onclick="redirecthome()">HOME</li>
        <li onclick="calculator();">CALCULATOR</li>
        <li onclick="redirectcontact()">CONTACT</li>
        <li onclick="coming_soon()">LOG IN</li>
        <li onclick="go_back()">RETURN</li>
    </ul>
  </div>
<body background='contact1080p2.png'>
  <h1 align=center class="forms">Contact me!</h1>
  <form action="/submit" method="POST" align=center class="forms" id='contactform'>
  <label for="firstn">First Name:</label>
  <input type="text"  id="firstn" name="firstname"><br>
  <br>
  <label for="lastn">Last Name:</label>
  <input type="text" id="lastn" name="lastname"><br>
  <br>
  <label for="contacter">Contacter:</label>
  <input type="textare" id="contacter" name="contacted"><br>
    <br>
    <label for="textbox">Message:</label>
  <textarea id="textbox" name="message" form="contactform" ></textarea><br><br>
    <p align="center">
 <input id="clickme" type="submit" value="Submit" onclick="formsubmit">
    </p> 
</form>
</body>
</html>
