<!DOCTYPE>
<html>
  <head>
    <link rel="stylesheet" href="styles.css">
  </head>
  <script src="script.js"></script>
  <title>Website</title>
  <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
  <!--<header>Hello World</header>-->
<header>
  <form align=center action="/login.php" method= "get" id="loginform">
      <input id="clickMe" type="email" value="Email">
      <input id="clickMe" type="password" value="Password">
      <input id="clickMe" type="submit" value="Login" onclick="formsubmit">

  </form>
</header>
<body background = "background.png">
      <h1 id="Nothing">
        <p id="body" Align = "center">
            Cool Website made by me!
      </p>
    </h1>
    <p id="lolU" Align = "center"></p>
    <form align=center>
        <input id="clickMe" type="button" value="Contacts" onclick="redirectcontact()">

    </form>
</body>
  <body align="center">
  <form>
    <script>

    </script>
      <input id="clickMe" type="button" value="Date" onclick="time();">
      <input id="clickMe" type="button" value="404" onclick="redirect404();">
      <input id="clickMe" type="button" value="Crash" onclick="oof404();">
  </form>
</body>
<footer class="Author"><a onclick="redirectcontact();">Made by <u>AndyIsCool5463</u></a></footer>
</html>
