<!DOCTYPE>
<html>
  <head>
    <link rel="stylesheet" href="styles.css">
  </head>
  <script src="script.js"></script>
  <title>Website</title>
  <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
  <!--<header>Hello World</header>-->
<body background = "background.png">
      <h1 id="Nothing">
        <p id="body" Align = "center">
            Cool Website made by me!
      </p>
    </h1>
    <p id="lolU" Align = "center"></p>
    <a href="/contact" align="center"id="href">Contacts</a>
</body>
  <body align="center">
  <form>
    <script>

    </script>
      <input id="clickMe" type="button" value="Date" onclick="time();">
      <input id="clickMe" type="button" value="404" onclick="redirect404();">
  </form>
</body>
<footer class="Author"><a href="/contact/" >Made by <u>AndyIsCool5463</u></a></footer>
</html>
