<!DOCTYPE>
<html>
  <head>
    <link rel="stylesheet" href="styles.css">
  </head>
  <script src="script.js"></script>
  <title>Website</title>
  <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
  <!--<header>Hello World</header>-->
<body background = "background.png">
      <h1 id="Nothing">
        <p id="body" Align = "center">
            Website Created for nothing and made by nothing.
      </p>
    </h1>
    <p id="lolU" Align = "center"></p>
</body>
  <form Align = "center">
      <input id="clickMe" type="button" value="Date" onclick="time();">
      <input type="submit" value="Redirect to 404" href="404.html">
  </form>

<footer class="Author"><a href="/contact/">Made by <u>AndyIsCool5463</u></a></footer>
</html>
