<!DOCTYPE>
<html>
<head>
  <link rel="stylesheet" href="styles.css">
  
</head>
  <title>Admin CP</title>
<script src="script.js"></script>
<p>
  <input id="home" type="button" value="Home" onclick="redirecthome();">
<h1 align=center>
  Administration
  </h1>
  </p>
  
<h2 align=center>Control Panel</h2>
<p align=center>Welcome <%= data.pasword %>! Daily phrase of the day is:<br><h5 align=center>
  <%= value %>
</h5></p>
<p>
  <div class='divformAdmin'>
  <tr align=center>
    <form action="/lookup" method='POST' id="lookupForm">
      <th> <label for="fname">First Name:</label> </th>
   <th> <input name="fname"></input> </th>
   <th> <label for="lname">Last Name:</label> </th>
   <th> <input name="lname"></input> </th>
   <th> <label for="code" >ID: </label> </th>
    <th><input name="code" id="code" type='text' placeholder="JohnDoeSatOct2018"></input> </th>
    <th><input type="button" value='Search' onclick="lookup()" /> </th>
  </form>
</tr>
  </div>
<div class="discordForm">
<form action="https://kantibot.glitch.me/discord" method='POST' id="POSTdiscordForm">
  Discord Message Sender <br>
      <th> <label for="uuid">UUID:</label> </th>
      
   <th> <input name="uuid" type="password"  value="44314d2-e2e0-4c62-a861-c5d6884ebe9c"></input> </th>
<th> <label for="author">Who to send as:</label> </th>
<th> <input name="author" class="textbox" placeholder="Admin" required></input> </th>
<!-- <th> <label for="channel">Channel to Send:</label> </th>
<th><input type="list" name='channel' id="channels"/> </th> -->
<label for="channels">Channel:</label>
   <input list="channels" class="textbox" name="channels" required>
  <datalist id="channels">
    <option value="495069439213961237"><a href="https://discord.gg/cRd5c7">#general</a></option>
    <option value="499055438696808470">#hng-api</option>
  </datalist>
<th> <label for="msg" required>Message To Send:</label> </th>
  <th> <input name="msg" class="textbox" placeholder="Hello World!" required></input> </th>
  <th><input id="sumbitB" type="button" value='Send' onclick="POSTdiscord()" /> </th>

 






  </form>
</div>

</p>
<body id='submitbackground'>
    
</body>
</html>
