<html>
  <head>
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
  <script src="script.js"></script>
</head>
  <title>Looked Up <%= test %></title>
<script src="script.js"></script>
  <input id="home" type="button" value="Return" onclick="goBack();">
  <input id="home" type="button" value="Home" onclick="redirecthome();">
  <div class='lookedUp'>
    <body background-image=url('http://ubuntuweblogs.org/wp-content/uploads/2018/06/blue-linux-wallpapers-awesome-your-wallpapers-the-lounge-kerbal-space-program-forums-of-blue-linux-wallpapers.jpg')>
      <p>
    <%= text %>
      
      <h6>
      </h6>
  </p>
    </body> 
  </div>
  
</html>