p {
  background-image: "background.png";
}
.author {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: rgb(180, 78, 227);
  font-weight: 700;
  text-decoration: none solid rgb(180, 78, 227);
  font-style: italic;
  font-variant: small-caps;
  text-transform: lowercase;
  text-align: right;
}
#Nothing {
  font-family: fantasy;
  color: green;
  font-weight: 300;
}

#clickMe {
  color: blue;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  align: center;
}

#clickMe:Hover {
  background-color: rgba(213, 194, 194, 1);
}

#lolU {
  color: green;
  font-style: italic;
  font-size: 16px;
  font-family: sans-serif;
}
#href {
  color: yellow;
  font-style: normal;
  font-family: sans-serif;
  font-size: 32pt;
}

#home {
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:40px;
  width: 200px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
#home:hover{
  background:#fff;
  color:#1AAB8A;
}
#home:before,#home:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
#home:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
#home:hover:before,#home:hover:after{
  width:100%;
  transition:800ms ease all;
}

#hitler {
  color: blue;
  font-family: cursive;
}
#pic {
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 40%;
}

#background404 {
  background-image: url(pic.png);
}
#h1 {
  text-align: center;
}

footer {

}
